#body {
  font-family: inter, sans-serif;
  margin: 0px;
  min-height: 100vh;
}
.row {
  display: flex;
  align-items: center;
}
.column {
  flex: 1;
}
.center {
  text-align: center;
}

/* login page  */

#form {
  position: relative;
}
#form > h2 {
  margin: 0 0 10px 0;
  font-weight: 600;
  font-size: 30px;
}
#form > p {
  margin: 0%;
  color: rgb(163, 163, 163);
  font-size: 17px;
  font-weight: 100;
}
#form > h3 {
  margin: 30px 0 7px 0;
  font-weight: lighter;
  font-size: 15px;
}
#form > h3 > span {
  color: red;
}

#form > section > p > button {
  border: none;
  background-color: white;
  color: blue;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
.input-field {
  padding: 18px 20px 15px 15px;
  border: 2px rgb(163, 163, 163) solid;
  border-radius: 10px;
  width: 410px;
}
#moveSignup {
  width: 448px;
  padding-top: 65px;
}
#login {
  background-color: rgb(243, 189, 0);
  padding: 10px 205px;
  border-radius: 40px;
  margin: 20px 0;
  font-size: 15px;
  border: none;
}

/* signup */

#sign-up {
  background-color: rgb(243, 189, 0);
  padding: 10px 205px;
  border-radius: 40px;
  margin: 20px 0;
  font-size: 15px;
  border: none;
}
#sign-in {
  /* padding: 5px; */
  font-size: 15px;
  display: inline-flex;
  width: 450px;
  background-color: white;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 5px 15px rgb(208, 207, 207);
  margin-top: 3px;
}
#sign-in > img {
  flex: 1;
  margin-left: 130px;
  max-width: 40px;
}
#sign-in > p {
  flex: 1;
  margin-right: 125px;
  margin-top: 13px;
}
#form > div {
  display: inline-flex;
  padding-top: 25px;
  padding-left: 100px;
}
#confirmation {
  padding-top: 20px;
  padding-left: 120px;
}
#confirmation > button {
  border: none;
  background-color: white;
  color: blue;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
#form > div > p > span {
  color: blue;
}

/* DASHBOARD */

#quiz-body {
  font-family: inter, sans-serif;
  margin: 0;
  padding: 0px 0px 0px 0px;
  min-height: 100vh;
}
#head {
  display: flex;
  padding: 16px 0px 16px 0px;
  border-bottom: 1px hsl(0, 0%, 80%) solid;
}
#techpathshala-logo {
  flex: 1;
  padding-top: 8px;
  margin: 0;
  justify-content: start;
  margin-left: -930px;
}
#profileInfo {
  position: relative;
  z-index: 3;
  flex: 1;
  display: inline-flex;
  max-width: 268px;
  height: 40px;
  justify-content: space-evenly;
  margin: 0 25px 0 0;
}
#user-name {
  padding: 0;
}
#profileInfo > img {
  border-radius: 50%;
  box-shadow: 0 2px 5px #00000040;
}
/* #hr {
  border: 1px hsl(0, 0%, 80%) solid;
  margin-bottom: 40px;
  margin-left: -40px;
  width: 1535px;
} */
#first-block {
  margin-left: 25px;
}
#first-block > h2 {
  line-height: 32.4px;
  font-size: 32px;
  font-weight: 700;
  margin: 40px 0 0 0;
}
#clk-img > p {
  color: #8e8e93;
  font-size: 12px;
  line-height: 14.4px;
  display: inline-flex;
  padding: 12px 0 6px 6px;
  margin: 0;
}
#first-block > ul {
  color: #8e8e93;
  font-size: 12px;
  line-height: 14.4px;
  padding-left: 20px;
  margin: 0;
}
#first-block > ul > li {
  padding-bottom: 6px;
}
#second-block {
  max-width: 1180px;
  min-height: 480px;
  box-shadow: 0 10px 40px #1c1c1e1a;
  border-radius: 12px;
  margin: 30px 0 10px 150px;
}
#second-block > img {
  padding: 25px;
}
#second-block > h2 {
  font-size: 32px;
  line-height: 38.4px;
  margin: 0;
  text-align: center;
}
#second-block > p {
  font-size: 16px;
  line-height: 19.4px;
  margin: 0;
  text-align: center;
  margin-top: 10px;
  color: #8e8e93;
  font-weight: 500;
}

#start-button {
  width: 360px;
  height: 43px;
  padding: 12px 24px 12px 24px;
  border-radius: 100px;
  border: none;
  opacity: 0px;
  background-color: #f3bd00;
  font-size: 16px;
  position: relative;
  left: 34.8%;
  top: 18px;
}
.box {
  position: relative;
  z-index: 3;
  width: 200px;
  height: 200px;
  background-color: #fff;
  border: 2px solid #000;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageUpload {
  margin-bottom: 40px;
  text-align: center;
}
#imageInput {
  margin: 20px 0 20px 20px;
  width: 180px;
}

.profileButtons {
  background-color: #0008ff;
  border: 2px solid #000;
  padding: 10px 20px;
  cursor: pointer;
}

.profileButtons:hover {
  background-color: #4434a7;
}
#arrowImg {
  position: relative;
  z-index: 2;
  top: 40px;
  left: 150px;
  height: 50px;
  width: 50px;
}
#profileSlide {
  position: absolute;
  z-index: 2;
  height: 300px;
  margin-top: -40px;
  padding-left: 1260px;
}

.hide {
  display: none;
}

.displayProfile {
  display: block;
}

/* QUESTION PAGE */

#question-wrapper > h2 {
  font-size: 61px;
  line-height: 73px;
  font-weight: 600;
  margin: 0;
}
#progressbar {
  position: relative;
  margin-top: 16px;
  margin-bottom: 24px;
  background-color: #ebebf0;
  width: 100%;
  height: 16px;
  z-index: 1;
  border-radius: 16px;
  border: none;
}
#progressbar > span {
  background-color: #f3bd00;
  /* width: 10%; */
  height: 16px;
  position: absolute;
  z-index: 2;
  top: 0%;
  border-radius: 16px;
  border: none;
}

#question-wrapper {
  padding-bottom: 40px;
  margin: 0 25px;
}

#question-wrapper .button-wrapper {
  display: flex;
  justify-content: space-around;
}

#question-wrapper > h3 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 0;
  padding-left: 10px;
}
#question-wrapper > p {
  color: #8e8e93;
  margin: 0;
  font-size: 24px;
  line-height: 28.4px;
  font-weight: 400px;
}
#question-wrapper > ol {
  padding: 0;
  margin: 24px 0 0 0;
}
#question-wrapper > ol > li {
  background-color: #ffffff;
  list-style: none;
  padding: 8px 25px 8px 0px;
  max-width: fit-content;
  border-radius: 100px;
  margin-bottom: 20px;
}
#question-wrapper > ol > li > label {
  line-height: 28.4px;
  padding: 8px 25px 8px 25px;
  border: 1px solid #ffffff;
  border-radius: 100px;
  font-size: 24px;

  margin: 0;
  font-weight: bold;

  text-align: center;
  cursor: pointer;
}
#next {
  color: #0948b4;
  font-size: 32px;
  line-height: 38px;
  font-weight: 500;
  background-color: white;
  border: none;
  flex: 1;
}
#back-button {
  color: #b4b4b4;
  font-size: 32px;
  line-height: 38px;
  font-weight: 500;
  background-color: white;
  border: none;
  display: none;
  flex: 1;
}
#back-button > img {
  transform: rotate(180deg);
}

.button-wrapper {
  display: flex;
}

input[type="radio"] {
  visibility: hidden;
}

input[type="radio"]:checked + label {
  color: #000000;
  background-color: #f3bd00;
  margin: 0;
}

input[type="radio"]:checked + label:active {
  background-color: #ffffff;
}

#options > li > label:hover {
  box-shadow: 0 0 20px #d0d0d0;
}

/* Scoreboard */

#scoreboard > h3 {
  margin: 0;
  text-align: center;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
}
#scoreboard > p {
  margin: 0;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  color: #8e8e93;
  margin-top: 8px;
}
#top-ranks {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 500px;
}
#first {
  background-color: #f3bd00;
  width: 210px;
  height: 419px;
  border-radius: 16px 16px 0 0;
  margin: 146px 20px 0 20px;
}
#second {
  background-color: #f4ce4a;
  width: 210px;
  height: 419px;
  border-radius: 16px 16px 0 0;
  margin-top: 214px;
}
#third {
  background-color: #f7e296;
  width: 210px;
  height: 419px;
  border-radius: 16px 16px 0 0;
  margin-top: 267px;
}
#circle-image {
  border-radius: 100%;
  border: 8px solid #f3bd00;
  width: 132px;
  height: 132px;

  margin-top: -70px;
  margin-left: 32px;
  background-color: #ffffff;
}
.crown {
  margin-top: -0px;
  margin-left: 70px;
  position: relative;
  top: -197px;
}
.rank {
  font-size: 32px;
  font-weight: bold;
  margin-top: -0px;
  margin-left: 83px;
  position: relative;
  top: -185px;
}
#second > img {
  border-radius: 100%;
  border: 8px solid #f4ce4a;
  width: 132px;
  height: 132px;
  margin-top: -70px;
  margin-left: 32px;
  background-color: #ffffff;
}
#third > img {
  border-radius: 100%;
  border: 8px solid #f7e296;
  width: 132px;
  height: 132px;
  margin-top: -70px;
  margin-left: 32px;
  background-color: #ffffff;
}
.scoreCenter {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-top: -40px;
}
.user {
  text-align: center;
  margin-top: -25px;
}
#curve {
  /* box-shadow: 0 -8px 40px #1c1c1e1a; */
  /* background-color: #ffffff; */
  /* height: 180px; */
  margin-top: -250px;
  /* margin-left : -50px; */
  /* position: relative; */
  /* z-index: 2; */
  min-width: 99vw;
  /* border-radius: 50%/15%; */
}
#others-wrapper {
  position: relative;
  z-index: 1;
  /* min-height: -100vw; */
  background-color: #000000;
  height: fit-content;
  /* margin-bottom: -250px; */
}
#otherRanks {
  margin-top: -350px;
}
.others {
  padding: 18px 60px;
  box-shadow: 0 8px 16px 0 rgb(173, 173, 173);
  border-radius: 10px white;
  background-color: white;
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;
}
.others > p {
  flex: 1;
  margin: 0;
  font-size: 30px;
}
.others {
  flex: 1;
  font-size: 30px;
}
.ranksFonts {
  font-family: inter, sans-serif;
  font-size: 24px;
  font-weight: 500;
}
.rankspadding {
  padding-left: 10px;
}

/* Admin */
.centerBox {
  text-align: center;
  margin: 50px 0 0 0;
}
.inline {
  display: inline-flex;
}
.boxes {
  height: 250px;
  width: 250px;
  border: 2px solid #000;
  margin: 10px;
}

/* All User Page  */

#allUsersTable > tr > td {
  border: 2px solid black;
  padding: 5px;
  width: fit-content;
}

/* All Question Page */

#allQuestionsTable > tr > td {
  border: 2px solid black;
  padding: 5px;
  width: fit-content;
}

/* All result page */

#allResultsTable > tr > td {
  border: 2px solid black;
  padding: 5px;
  width: fit-content;
}
#allResultsTable > tr > td>tr>td {
  border: 2px solid black;
  padding: 5px;
  width: fit-content;
}
